<ion-header>
  <ion-toolbar>
    <ion-title>Mis productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-select placeholder="Categoria" interface="popover" [(ngModel)]="option">
    <ion-select-option value="Motor">Motor</ion-select-option>
    <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
    <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
    <ion-select-option value="Hogar">Hogar</ion-select-option>
  </ion-select>

  <div *ngFor="let item of productos">
    <div *ngIf="item.categoria == option">

      <ion-text>
        <h1>{{item.nombre}}</h1>

        <ion-button expand="block" [routerLink]="['/details', item.nombre]">
          Detalles
        </ion-button>

        <ion-button expand="block" [routerLink]="['/modify', item.nombre]">
          Modificar
        </ion-button>

        <ion-button expand="block" (click)="onDelete(item.nombre)">
          Eliminar
        </ion-button>

        <ion-item-divider></ion-item-divider><!--Crea una linea divisora-->
      </ion-text>

    </div>
  </div>

</ion-content>
