<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    
    <ion-item>
      <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-button expand="block" [routerLink]="['/home', id]" class="ion-margin">
      Acceder
    </ion-button>

  </ion-card>

</ion-content>
