<ion-header>
  <ion-toolbar>
    <ion-title>Modifica el producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input clearInput [(ngModel)]="item.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input clearInput [(ngModel)]="item.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Precio<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input clearInput [(ngModel)]="item.precio"></ion-input>
  </ion-item>

  <ion-list *ngIf="item.categoria == 'Motor'">
    <ion-item>
      <ion-label>Estado:</ion-label>
      <ion-select [(ngModel)]="item.tipo">
        <ion-select-option value="Coche">Coche</ion-select-option>
        <ion-select-option value="Moto">Moto</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Kilometros:</ion-label>
      <ion-input clearInput type="number" [(ngModel)]="item.kilometraje">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" [(ngModel)]="item.edad"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="item.categoria == 'Inmobiliaria'">
    <ion-item>
      <ion-label>Metros cuadrados:</ion-label>
      <ion-input clearInput type="number" [(ngModel)]="item.metros_Cuadrados"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Número baños:</ion-label>
      <ion-input clearInput type="number" [(ngModel)]="item.aseos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Número habitaciones:</ion-label>
      <ion-input clearInput type="number" [(ngModel)]="item.habitaciones"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Localidad:</ion-label>
      <ion-input clearInput [placeholder]="placeholder_default" [(ngModel)]="localidad"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="item.categoria == 'Tecnologia'">
    <ion-label>Estado del producto:</ion-label>
    <ion-select [(ngModel)]="item.estado">
      <ion-select-option value="Perfecto">Perfecto estado</ion-select-option>
      <ion-select-option value="Usado">Usado</ion-select-option>
    </ion-select>
  </ion-item>

  

  <ion-button expand="block" (click)="onModify()">Guardar</ion-button>
  
</ion-content>