<ion-header>
  <ion-toolbar>
    <ion-title>
      Quicktrade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
                        <!--Añadir productos-->
  <ion-card class="ion-padding">
    
    <ion-button expand="block" routerLink="/add-product">
      Insertar producto
    </ion-button>

  </ion-card>

                    <!--Lista de productos-->
  <ion-card class="ion-padding"><!--Pone un relleno de 16px-->

    <ion-button expand="block" routerLink="/product-list"><!--Por que si quito ARRAY deja de funcionar?-->
      Lista entera de productos
    </ion-button>

  </ion-card>

</ion-content>
