<ion-header>
  <ion-toolbar>
    <ion-title>
      Introducir producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoria <ion-text color="danger">*</ion-text></ion-label>
      <ion-select interface="popover" [(ngModel)]="option">
        <ion-select-option value="Motor">Motor</ion-select-option>
        <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
        <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
        <ion-select-option value="Hogar">Hogar</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="option == 'Motor'">
      <ion-label>Tipo de automóvil</ion-label>
      <ion-select interface="popover">
          <ion-select-option value="Coche">Coche</ion-select-option>
          <ion-select-option value="Moto">Moto</ion-select-option>
      </ion-select>
      <ion-input type="number" placeholder="Kilometraje"></ion-input>
      <ion-input type="number" placeholder="Año"></ion-input>
    </ion-item>

    <ion-item *ngIf="option == 'Inmobiliaria'">
      <ion-label>Metros cuadrados</ion-label>
      <ion-input type="number"></ion-input>

      <ion-label>Numero de baños</ion-label>
      <ion-input type="number"></ion-input>

      <ion-label>Numero de habitaciones</ion-label>
      <ion-input type="number"></ion-input>

      <ion-label>Localidad</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="option == 'Tecnologia'">
      <ion-label>Estado del producto</ion-label>
      <ion-select interface="popover">
          <ion-select-option value="Perfecto">Perfecto</ion-select-option>
          <ion-select-option value="Usado">Usado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Precio <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="number"></ion-input>
    </ion-item>
  </ion-list>

                    <!--Añadir productos-->

  


                    <!--Lista de productos-->

  <ion-card class="ion-margin"><!--Pone un margen de 16px-->
    <ion-card-title class="ion-padding">Lista de productos</ion-card-title>
    <ion-card-content *ngFor="let item of productos">
      
      <ion-text>
        <h1>{{item.nombre}}</h1>
        <h2 *ngIf="item.categoria == 'Motor'">
          Tipo: {{item.tipo}} <br>
          Kilometraje: {{item.kilometraje}} <br>
          Edad: {{item.edad}}
        </h2>

        <h2 *ngIf="item.categoria == 'Inmobiliaria'">
          Metros cuadrados: {{item.metros_Cuadrados}} <br>
          Numero de aseos: {{item.aseos}} <br>
          Numero de habitaciones: {{item.habitaciones}} <br>
          Localidad: {{item.localidad}} 
        </h2>

        <h2 *ngIf="item.categoria == 'Tecnologia'">
          Estado del producto: {{item.estado}} 
        </h2>
        
        <ion-item-divider></ion-item-divider><!--Crea una linea divisora-->
      </ion-text>

    </ion-card-content>
  </ion-card>

</ion-content>
