<ion-header>

  <ion-toolbar>
    <ion-title>Detalles del producto</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="ion-margin"><!--Pone un margen de 16px-->
    
    <ion-card-content *ngFor="let item of productos">
      
      <ion-label>Nombre: {{item.nombre}} <br>
        Descripcion: {{item.descripcion}} <br>
      </ion-label>

      <ion-list *ngIf="item.categoria == 'Motor'">
        <ion-label>Tipo: {{item.tipo}} <br>
          Kilometraje: {{item.kilometraje}} <br>
          Edad: {{item.edad}}
        </ion-label>
      </ion-list>

      <ion-list *ngIf="item.categoria == 'Inmobiliaria'">
        <ion-label>
          Metros cuadrados: {{item.metros_Cuadrados}} <br>
          Numero de aseos: {{item.aseos}} <br>
          Numero de habitaciones: {{item.habitaciones}} <br>
          Localidad: {{item.localidad}} 
        </ion-label>
      </ion-list>

      <ion-list *ngIf="item.categoria == 'Tecnologia'">
        <ion-label>
          Estado del producto: {{item.estado}} 
        </ion-label>
      </ion-list>

      <ion-list *ngIf="item.categoria == 'Hogar'">
        <ion-label>
          Descripcion: {{productos.descripcion}} 
        </ion-label>
      </ion-list>

    </ion-card-content>
    
  </ion-card>

</ion-content>
