<ion-header>

  <ion-toolbar>
    <ion-title>Detalles del producto</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="ion-margin"><!--Pone un margen de 16px-->
    
    <ion-card-content>
      
      <ion-list *ngIf="producto.categoria == 'Motor'">
        <ion-label>Tipo: {{producto.tipo}} <br>
          Kilometraje: {{producto.kilometraje}} <br>
          Edad: {{producto.edad}}
        </ion-label>
      </ion-list>

      <ion-list *ngIf="producto.categoria == 'Inmobiliaria'">
        <ion-label>
          Metros cuadrados: {{producto.metros_Cuadrados}} <br>
          Numero de aseos: {{producto.aseos}} <br>
          Numero de habitaciones: {{producto.habitaciones}} <br>
          Localidad: {{producto.localidad}} 
        </ion-label>
      </ion-list>

      <ion-list *ngIf="producto.categoria == 'Tecnologia'">
        <ion-label>
          Estado del producto: {{producto.estado}} 
        </ion-label>
      </ion-list>

      <ion-list *ngIf="producto.categoria == 'Hogar'">
        <ion-label>
          Descripcion: {{producto.descripcion}} 
        </ion-label>
      </ion-list>

    </ion-card-content>
    
  </ion-card>

</ion-content>
